.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

# Test Kitchen
.kitchen/
.kitchen.local.yml
test/integration/nodes/

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
package/*
chef-client-running.pid
chef-stacktrace.out
remote_file/*
nodes/*
local-mode-cache/*
vendor
vendor/*
.chef/

# VSCode
.vscode/

# TODO :  remove files reference and put files somewhere they can be hosted
/files/*